.App {
  text-align: center;
  background-color: #0a192f;
  width: '100%'
}

.App-header {
  background-color: #0a192f;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(20px + 2vmin);
  color: white;
}