.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
}

.text-area {
    width: 100%;
    height: 200px;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    resize: none;
    outline: none;
    display: block;
    background-color: #0a192f;
    font-size: 1.25rem;
    color: white
}


.enhancing-button {
    padding: 8px 16px;
    border: 1.5px solid #0a192f;
    border-radius: 12px;
    font-size: 1.75rem;
    color: white;
    font-weight: 500;
    cursor: pointer;
    display: block;
    margin-top: 1rem;
    background-color: crimson;
    transition: all 0.3 ease;
}

.enhancing-button:hover {
    padding: 8px 16px;
    font-size: 1.75rem;
    color: aqua;
    background: none;
    border: 1.5px solid crimson;
}

.back-button {
    padding: 8px 16px;
    border: 1.5px solid #0a192f;
    border-radius: 12px;
    font-size: 1.75rem;
    color: white;
    font-weight: 500;
    cursor: pointer;
    display: block;
    margin-top: 1rem;
    margin-left: 1.75rem;
    background-color: crimson;
    transition: all 0.3 ease;
}